<footer class="footer">
  <div class="container-fluid">
  <div class="row">
	  <div class="col-md-3">
	  	<p>Why appsBrew</p>
	  	<p>Overview</p>
	  </div>
	  <div class="col-md-2">
	  	<p>SOLUTIONS</p>
	  	<p>Overview</p>
	  	<p>Workload Protection</p>
	  	<p>Microsegmentation</p>
	  	<p>Compromise Detection</p>
	  	<p>Compliance</p>
	  	<p>DevSecOps</p>
	  	<p>AWS</p>
	  	<p>Federal</p>
	  </div>
	  <div class="col-md-2">
	  	<p>CUSTOMERS AND PARTNERS</p>
	  	<p>Success Stories</p>
	  	<p>Partner with appsBrew</p>
	  	<div>
	  	<p><br/>RESOURCES</p>
	  	<p>Resource Library</p>
	  	<p>Blog</p>
	  	<p>Support</p>
	  	<p>API</p>
	  	<p>Login</p>
	  	</div>
	  </div>
	  <div class="col-md-2">
	  	<p>COMPANY</p>
	  	<p>Overview</p>
	  	<p>Leadership</p>
	  	<p>Press Release</p>
	  	<p>News Article</p>
	  	<p>Events</p>
	  	<p>Blog</p>
	  	<p>Contact</p>
	  	<p>Careers</p>
	  </div>
	  <div class="text-right col-md-3">
	  <button class="btn btn-danger">REQUEST A DEMO</button>
	  	<div><p>CONNECT WITH US</p></div>
	    <a href="#"><i class="fa fa-facebook"></i></a>
	    <a href="#"><i class="fa fa-twitter"></i></a>
	    <a href="#"><i class="fa fa-linkedin"></i></a>
	    <a href="#"><i class="fa fa-google-plus"></i></a>
	    <a href="#"><i class="fa fa-skype"></i></a>
	  </div>
	  </div>
	  <div class="text-center">
	 	<p class="smalltext">&#169; appsBrew <span class="mleft">Contact</span><span class="mleft">Privacy Policy</span><span class="mleft">Trust</span><span class="mleft">Terms of Use</span><span class="mleft">Site Map</span><span class="mleft">Site Credits</span></p>
	  </div>
  </div>
</footer>