.navbar-default {
margin-top:0px;
	background-color: #fff;
}
.navbar-brand{
	color:#064474;
	font-weight: bold;
}
button{
  background-color:#fff;
  margin-top:8px;
  margin-left: 15px;
}

a {
	text-decoration: none;
	color:#064474;
}
button.btn:hover{
  border-bottom: 3px solid #000;
  background-color: #064474;
}
button.btn:hover a{
 color: #fff;
}

button.btn:visited{
  border-bottom: 3px solid #000;
  background-color: #064474;
  color: #fff;
}
button.navbar-toggle{
	background-color: #064474;
}
button.navbar-toggle:hover{
	background-color: #064474;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default:hover .navbar-toggle:hover .icon-bar:hover {
  background-color: #fff;
}
.nav-justified{
	width:50%;
}