<div class="img container-fluid">
<div class="badge">
	<p class="mtop">appsBrew Home Page Here</p>
	<p class="mtop">Some Details here....</p>
</div>
</div>

<div class="row container-fluid">
	<div class="col-md-3 col-md-offset-1">
		<h3>What we do</h3>
		<h4>CloudPassage Halo, the leader in high velocity workload security-as-a-service, delivers continuous compliance and universal visibility across enterprise infrastructures – from data centers to public clouds – at scale.</h4>
	</div>
	<div class="col-md-6 col-md-offset-1">
		<h3>What we do</h3>
			<h4><span class="text-primary">Workload Protection:</span> Halo helps you reduce your software attack surface by ensuring proper security configuration, discovering software vulnerabilities, and controlling administrative access.</h4>
			<h4><span class="text-primary">Compromise Detection:</span> Halo alerts you if your workloads have been compromised, either unintentionally or through external malicious activity.</h4>
			<h4><span class="text-primary">Microsegmentation:</span> Halo reduces your network attack surface by protecting against lateral movement of threats through traffic discovery and microsegmentation.</h4>
			<h4><span class="text-primary">Compliance:</span> Halo automates compliance functions, saving time and money by proving the security posture of all assets in scope of regulations within seconds.</h4>
			<h4><span class="text-primary">DevSecOps:</span> Halo bakes security right into continuous development processes like DevOps.</h4>
			<h4><span class="text-primary">AWS EC2:</span> Halo complements AWS security with workload-level protection.</h4>
	</div>
</div>

<div class="jumbotron container-fluid">
	<h3 class="text-center">How it Works</h3>
	<h5 class="text-center">Halo’s unique architecture enables fast and efficient security automation &#38; orchestration of servers and cloud workloads, anywhere, at any scale.</h5>
	<div class="text-center"><img src="/assets/images/image1.jpg"/></div>
</div>

<div class="img1 container-fluid">
<div class="text-center">
	<h1 class="text-white">Halo platform benefits</h1>
</div>
	<div class="row container col-md-10 col-md-offset-1 text-center">
		<div class="col-md-3 text-center box">
			<h3><span class="small text-primary">PROTECTION</span></h3>
			<h3 class="strong"><span class="text-primary">Reduce software<br/>attack surface</span></h3>
			<hr/>
			<h4>Vulnerabilities</h4>
			<hr/>
			<h4>Configuration</h4>
			<hr/>
			<h4>Accounts</h4>
			<hr/>
			<button class="btn btn-primary">EXPLORE</button>
		</div>
		<div class="col-md-3 text-center box">
			<h3><span class="small text-primary">PROTECTION</span></h3>
			<h3 class="strong"><span class="text-primary">Reduce software<br/>attack surface</span></h3>
			<hr/>
			<h4>Vulnerabilities</h4>
			<hr/>
			<h4>Configuration</h4>
			<hr/>
			<h4>Accounts</h4>
			<hr/>
			<button class="btn btn-primary">EXPLORE</button>
		</div>
		<div class="col-md-3 text-center box">
			<h3><span class="small text-primary">PROTECTION</span></h3>
			<h3 class="strong"><span class="text-primary">Reduce software<br/>attack surface</span></h3>
			<hr/>
			<h4>Vulnerabilities</h4>
			<hr/>
			<h4>Configuration</h4>
			<hr/>
			<h4>Accounts</h4>
			<hr/>
			<button class="btn btn-primary">EXPLORE</button>
		</div>
	</div>
</div>
<div class="row bg-primary container-fluid">
	<h4>&#160;&#169; 2017 Copyrights Reserved.</h4>
</div>